<h1>Welcome!</h1>

<p>Please Log-In Below:</p>

<form action="/logins/create" method="post">

  <label for="user_email"><sub><i>Email:</i></sub></label><br>
  <input type="text" name="user_email">
  <br>
  <label for="user_password"><sub><i>Password:</i></sub></label><br>
  <input type="text" name="user_password">
  <br><br>
  <input type="submit">

</form>

<br><br>

<a href="/">Home</a>