<h1>Sign Up!</h1>

<form action="/new_user" method="post">

  <label for="first_name"><sub><i>First Name:</i></sub></label>
  <input type="text" name="first_name">
  <label for="last_name"><sub><i>Last Name:</i></sub></label>
  <input type="text" name="last_name">
  <br>
  <label for="email"><sub><i>Email:</i></sub></label>
  <input type="text" name="email">
  <br>
  <label for="password"><sub><i>Password:</i></sub></label>
  <input type="text" name="password">
  <input type="submit">

</form>
<br>
<br>

<a href="/">Home</a>
