<br><br><br>

<h1>Users</h1>

<table>
  <tr>
    <% @users.each do |u| %>
    <td>
      <%= u.first_name %> <%= u.last_name %><br>
    </td>
    <td>
      <form action="/users/<%=u.id%>/edit">
        <input type="submit" value="Edit">
      </form>
    </td>
    <td>
      <form action="/users/<%=u.id%>/delete" method="post">
        <input type="submit" value="Delete">
      </form>
    </td>
    <% end %>
  </tr>
</table>

<br>
<br>
<a href="/">Home</a>