<h1>Add a Priority</h1>

<form action="/priorities/create" method="post">
  
  <label for="priority"><sub><i>Priority</i></sub></label><br>
  <input type="text" name="priority">
  <br><br>
  <input type="submit">

</form>

<br><br>

<a href="/">Home</a>