<h1>Add a To-Do Task</h1>

<form action="/new_todo" method="post">

  <label for="title"><sub><i>Title:</i></sub></label><br>
  <input type="text" name="title">
  <br>
  <label for="description"><sub><i>Description:</i></sub></label><br>
  <input type="text" name="description">
  <br><br>
  <input type="submit">
  
</form>

<br><br>

<a href="/">Home</a><br>
<a href="/todos_list">To-Do List</a>
