<center>

  <h1>To-Do List</h1>

  <table style="width:20%">

    <% @todos.each do |t| %>
      <tr>
        <td>
          <form action="/complete_todo">
            <input type="checkbox" name="completed">
          </form>
        </td>
        <td>
          <a href="/todo_page/<%=t.id%>">
            <%= t.title %>
          </a>
        </td>
        <td> 
          <form action="/edit_todo_form/<%=t.id%>"> 
            <input type="submit" value="Edit">
          </form>
        </td>
        <td>
          <form action="/delete_todo/<%=t.id%>">
            <input type="submit" value="Delete">
          </form>
        </td>
      </tr>
    <% end %>

  </table>

  <br>
  <br>

  <a href="/new_todo_form">Add a Task</a>

</center>