<center>

<h1>Welcome to the To-Do List</h1>

<p>Please follow the links below in order to get started:</p>

<br>

<a href="/logins/new">Login</a> |

<a href="/new_user_form">Create A New User</a> |

<a href="/users_list">User List</a> |

<a href="/new_todo_form">Add a To-Do Task</a> |

<a href="/todos_list">To-Do List</a>

</center>