<center>

  <br><br><br>

  <h1>Welcome to the To-Do List</h1>

  <p>Please follow the links below in order to get started:</p>

  <br>

  <a href="/logins/new">Login</a> |

  <a href="/users/new">Create A New User</a> |

  <a href="/users">User List</a> |

  <a href="/todos/new">Add a To-Do Task</a> |

  <a href="/todos">To-Do List</a> |

  <a href="/priorities/new">Create a Priority</a>

</center>