<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>My Application</title>
</head>

<body background="http://static1.squarespace.com/static/5463d4a4e4b011a27cb70f0f/t/546909aee4b098601f571296/1416169903677/borders-frames-notepad-backgrounds-powerpoint.jpg?format=1500w">
  <!-- This is what a code comment in HTML looks like. -->

  <!-- The `yield` below is where the contents of a view file are put. -->
  <!-- Then the combined layout + view is sent back to the client. -->
  <%= yield %>
</body>
</html>